@use '@/styles/variables' as *;

.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: $font-size-sm;
    color: $color-text-primary;
    text-decoration: none;

    &:hover {
        background: #ffffff1a;
    }

    & > :nth-child(1) {
        flex: 3;
    }

    & > :nth-child(2) {
        flex: 1;
    }

    & > :nth-child(3) {
        flex: 1;
    }

    & > :nth-child(4) {
        flex: 2;
    }

    & > :nth-child(5) {
        flex: 1;
    }

    & > * {
        user-select: none;
        min-width: 0;
    }
}

.taskTitleBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.taskTitle,
.taskDepartment {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.taskDate {
    font-size: $font-size-xs;
    color: $color-text-secondary;
}

.taskExecutor {
    display: flex;
    align-items: center;
    gap: 6px;
}
