.commentList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.commentItem {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #ffffff40;
    }
}
