@use '@/styles/variables' as *;

.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 16px;
}

.filterSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

// Костыльный адаптив, плохо смотрится

.filterToolsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterTools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filterTools > :first-child {
    flex: 2 1 250px;
}

.filterTools > :not(:first-child) {
    flex: 0 1 200px;
}

.createTaskButton {
    word-wrap: none;
    flex-shrink: 0;
}

.tasksHeader {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 18px 12px;
    font-size: 14px;
    font-weight: 600;
    color: $color-text-secondary;
    border-bottom: 1px solid #ffffff1a;

    & > :nth-child(1) {
        flex: 3;
    }

    & > :nth-child(2) {
        flex: 1;
    }

    & > :nth-child(3) {
        flex: 1;
    }

    & > :nth-child(4) {
        flex: 2;
    }

    & > :nth-child(5) {
        flex: 2;
    }
}
